<html lang="ja" ng-app="App">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css" />
    <style type="text/css">
    <!--
    img {
      /*width: 300px;*/
      /*border-radius: 100px;*/
      /*
      -webkit-border-radius: 300px;
      -moz-border-radius: 300px;
      */
    }
    -->
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
    <script src="./js/channel.js"></script>
    <script language="javascript">
      angular.module("MyApp", ["ui.bootstrap"]);
    </script>
  </head>
  <body>
    <section class="container main-content" ng-controller="mainCtrl">



    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-header">

        <!--ブランド名 ロゴ名の表示-->
        <a class="navbar-brand" href="#">LOGO</a>

        <!--トグルボタンの設置-->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-content">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="nav-content" class="collapse navbar-collapse">

        <!--リンクのリスト メニューリスト-->
        <ul class="nav navbar-nav">
          <li><a href="">配信中</a></li>
          <li><a href="">お気に入り</a></li>
          <li><a href="">検索</a></li>
        </ul>


        <!--検索フォーム-->
        <form class="navbar-form navbar-right" role="search">
          <div class="form-group">
            <input id="keyword" name="keyword" ng-model="keyword" type="text" class="form-control" placeholder="Search">
          </div>
          <button ng-click="searchHistory('test')" class="btn btn-default">検索</button>
        </form>
      </div>
    </nav>    

      <br><br>
      <h1>配信中 {{channels.length}} channels.</h1>
      <!--<input type="text" ng-model="name.name">-->
      <div class="row" line-height="10px">
        <!--<p>{{channels.length}} channels.</p>-->
        <!--<div class="col-md-6 media" ng-repeat="channels in channels|orderBy:'-icon'|filter:name">-->
        <div class="col-md-6 media" ng-repeat="channel in channels">
          <!--<a href="{{channel.contactUrl}}" class="media-left">-->
          <a href="#" ng-click="play(channel)" class="media-left">
            <img class="img-circle media-object" src="{{channel.icon}}" width="40px" align="left">
          </a>
          <a href="#" ng-click="favorite(channel)" class="media-left">
            <span class="glyphicon {{isFavorite(channel) ? 'glyphicon-star' : 'glyphicon-star-empty'}}">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><b>{{channel.name}}</b></h4>
            <p font-weight="100" style="color: #808080">【{{channel.genre}}】{{channel.details}}</p>
          </div>
        </div>
      </div>


      <br><br>
      <h1>お気に入り {{favoriteChannels.length}} channels.</h1>
      <div class="row" line-height="10px">
        <div class="col-md-6 media" ng-repeat="channel in favoriteChannels">
          <a href="#" ng-click="play(channel)" class="media-left">
            <img class="img-circle media-object" src="{{channel.icon}}" width="40px" align="left">
          </a>
          <a href="#" ng-click="favorite(channel)" class="media-left">
            <span class="glyphicon {{isFavorite(channel) ? 'glyphicon-star' : 'glyphicon-star-empty'}}">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><b>{{channel.name}}</b></h4>
            <p font-weight="100" style="color: #808080">【{{channel.genre}}】{{channel.details}}</p>
          </div>
        </div>
      </div>


      <br><br>
      <h1>検索 {{searchChannels.length}} channels.</h1>
      <div class="row" line-height="10px">
        <div class="col-md-6 media" ng-repeat="channel in searchChannels">
          <a href="#" ng-click="play(channel)" class="media-left">
            <img class="img-circle media-object" src="{{channel.icon}}" width="40px" align="left">
          </a>
          <a href="#" ng-click="favorite(channel)" class="media-left">
            <span class="glyphicon {{isFavorite(channel) ? 'glyphicon-star' : 'glyphicon-star-empty'}}">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><b>{{channel.name}}</b></h4>
            <p font-weight="100" style="color: #808080">【{{channel.genre}}】{{channel.details}}</p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
